.login-page {
  background: #1d9d74;
  // background-color: #a0b4c9 !important;
  display: flex;
  flex-direction: column;
  height: 100%;

  .logo {
    margin: 60px auto 20px auto;
    padding: 15px;
    text-align: center;
  }

  .form-title {
    font-weight: 300;
  }

  .content2 {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 0px;
    padding: 0px;
    border-radius: 7px;
    margin-top: 70px;
    flex: 1 0 auto;
    // box-shadow: #ccc 7px 9px 12px 0px;

    .content2-login {
      border-radius: 7px 7px 7px 7px;
      background: #fff;
      padding: 15px;
    }

    .content2-info {
      border-radius: 0px 7px 7px 0px;
    }

    h3 {
      color: #000;
    }

    h4 {
      color: #555;
    }

    p {
      color: #222;
    }

    .input-icon {
      input {
        border-left: 2px solid #44B6AE !important;
      }
    }
  }

  .rememberme {
    font-size: 14px;
    color: #666;
  }

  input {
    border-left: 0;
  }

  .footer {
    width: 100%;
    padding: 0 15px;
    margin-top: 20px;
    background-size: unset;
    background-image: unset;
    color: #fff;
    border-top: 2px solid #444;

    .footer-content {
      max-width: 800px;
      margin: 0 auto;

      a {
        color: #fff;
      }
    }
  }
}

.background-page {
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-color: #3D4A53;
}
